// Page: Header
// -----------------------------------------------------------------------------
.page__header {

}

.right-position {
  margin: 0 0 0 auto;
}

.nav-item:hover {
  border-bottom: 5px solid $decorate-color;
  cursor: pointer;
}

.nav-link {
  color: $main-dark-color;
  font-family: $second-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.56px;
}

.pt-5 {
  padding-top: 0 !important;
}

/*.pb-5 {
  padding-bottom: 0 !important;
}*/

.section-hero {
  height: 70vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-wrapper {
  padding-top: 60%;
}

.header-title-block {
  height: 94px;
}

.header-content {
  border-left: 2px solid #e8bf5d;
}

.header-title {
  color: $main-light-color;
  font-family: $main-font-family;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 2.6px;
  line-height: 45px;
}

.hero-text {
  color:  $main-light-color;
  font-weight: 400;
  font-family: $second-font-family;
  font-size: 31px;
  letter-spacing: 1.24px;
  line-height: 36px;
}
